<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>注册</title>
    <script>
        function formCheck() {
            var pwd1 = document.form1.password.value;
            var pwd2 = document.form1.passwordconfirm.value;
            if(pwd1 != pwd2){
                alert("两次输入的密码不一致!")
                return false
        }
    }
    </script>
</head>
<body>
    <h2>用户注册</h2>
    <form method="post" action="/register_handle" name="form1">
    {% csrf_token %}
        输入用户名: <input type="text" name="username"><br />
        <br />
        请输入密码: <input type="password" name="password"><br />
        <br />
        请再次输入: <input type="password" name="passwordconfirm" onchange="formCheck()"><br />
        <br />
        <input type="submit" value="提交">
    </form>
</body>
</html>


