<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>openstack服务状态</title>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                $("#refresh").load("openstacks");
            }, 1000);
        });
    </script>
</head>
<body>
    <div id="refresh">
        <div>{{contentNova.0.state}}</div>
        <div>{{contentNova.1.state}}</div>
        <div>{{contentNova.2.state}}</div>
        <div>{{contentNova.3.state}}</div>
        <div>{{contentNova.4.state}}</div>
        <div>{{contentNova.5.state}}</div>
    </div>
</body>
</html>